.menuContainer {
    width: 900px;
    margin: 0 auto;
}

.menu {
    border: black 1rem solid;
}

.dayMenu {
    border: 1rem solid black;
    margin: 1rem;
    /* padding: 3rem; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    /* min-width: 400px; */
    position: relative;
    color: white;
    border-radius: 10% ;
    overflow: hidden;
    /* height: 400px; */
    min-height: 300px;
}

.menuHeader {
    position: relative;
    height: 400px;
}

.menuHeader__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuTitle {
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    padding: 1rem;
    margin: 0;
    width: 100%;
    font-size: 2rem;
}

.menuDate {
    background-color: black;
    color: white;
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    /* border-radius: 10px 12px / 5px 2px; */
    transform: skewX(10deg)
}

.menuContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    /* padding: 3rem; */
    position: relative;
}

.menuThumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.dayMenu__thumbnail {
    position: absolute;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(0.5);
    z-index: -5;
}

.dayMenu__content {
    position: relative;
    /* width: 100%;
    height: 100%;
    top: 0;
    left: 0; */
}

.dayMenu__title {
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.356);
    text-transform: capitalize;
}

.dayMenu__list {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem 0 2rem;
    margin-bottom: 2rem;
    text-align: left;
    list-style-type:disc;
}

.dayMenu__list li{
    margin: 1rem;
}

.menuBg {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    object-fit: cover;
}