.form label {
    display: flex;
    flex-direction: column;
}

.form {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.form button {
    padding: 1rem;
    width: 100%;
    /* margin-top: 1rem; */
}

.form__item {
    margin-bottom: 1rem;
}

.form__item span {
    font-weight: bold;
}